/* #### Common CSS #### */

.container {
	width: 375px;
}

/* Logo CSS */
h2.logo {
	font-family: var(--primary-en);
	font-size: 35px;
	font-weight: 400;
	color: var(--dark-brown);
}

/* Button CSS */
.btn-primary {
	display: block;
	width: 90%;
	margin: auto;
	border: none;
	padding: 10px;
	border-radius: 5px;
	color: var(--light-black);
}

/* GNB CSS */
.gnb {
	width: 100%;
	height: 65px;
	text-align: center;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--silver-gray);
}

.gnb a {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gnb a .bi {
	font-size: 24px;
	color: var(--dark-gray);
}

.gnb a:nth-child(2) .bi {
	font-size: 22px;
}

.gnb a:nth-child(4) .bi {
	font-size: 21px;
}

.gnb a span {
	display: block;
	font-size: 12px;
	color: var(--dark-gray);
}