/* #### Common CSS #### */

.container {
	width: 375px;
	position: relative;
}

/* Logo CSS */
h2.logo {
	font-family: var(--primary-en);
	font-size: 23px;
	font-weight: 400;
	color: var(--dark-brown);
}

/* Custom Select */
.custom-select {
	width: 70px;
	height: 40px;
	border: 1px solid var(--dark-gray);
	background-color: var(--snow);
	display: flex;
	align-items: center;
	position: relative;
}

.custom-select:after {
	position: absolute;
	content: '\F282';
	font-family: bootstrap-icons;
	right: 8px;
	font-size: 11px;
	top: 10px;
	padding-left: 8px;
	pointer-events: none;
}

.custom-select select {
	appearance: none;
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	padding-left: 16px;
}

/* Button CSS */
.btn-primary {
	display: block;
	width: 90%;
	margin: auto;
	border: none;
	padding: 10px;
	border-radius: 5px;
	color: var(--light-black);
	font-weight: normal;
}

/* Alert MSG CSS */
.alert-message {
	color: var(--crimson);
	margin: 5px 0;
	font-weight: normal;
	font-size: 11px;
}

/* Sub Header CSS*/
.sub-header-with-title {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--light-beige);
}

.sub-header-with-title button {
	border: none;
	background-color: transparent;
	font-size: 26px;
	margin: 10px;
}

/* GNB CSS */
.gnb {
	width: 100%;
	height: 65px;
	text-align: center;
	/* 작업끝나고 주석 풀기 */
	/* position: absolute;
	bottom: 0; */
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--silver-gray);
}

.gnb a {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gnb a .bi {
	font-size: 24px;
	color: var(--dark-gray);
}

.gnb a:nth-child(2) .bi {
	font-size: 22px;
}

.gnb a:nth-child(4) .bi {
	font-size: 21px;
}

.gnb a span {
	display: block;
	font-size: 12px;
	color: var(--dark-gray);
}