/* Import Local CSS */
@import url(/css/reset.css);
@import url(/css/common.css);
@import url(/css/variables.css);

* {
	font-family: var(--primary-kr);
	font-weight: 400;
}

body {
	margin: 0;
	color: var(--dark-black);
	line-height: 1.5em;
	font-size: 14px;
}

/* #### Preloading html #### */
.preloading {
	height: 750px;
}

.preloading-inner {
	width: inherit;
	height: inherit;
	background: url(/images/preloading-cut.png) no-repeat center;
	background-size: cover;
	position: relative;
}

.preloading-title {
	position: absolute;
	top: 80px;
	left: 30px;
}

.preloading-title h2.logo {
	margin-bottom: 30px;
	font-size: 35px;
}

.preloading-title span {
	display: block;
	font-weight: bold;
	font-size: 22px;
	font-family: var(--secondary-kr);
	line-height: 1.5em;
	color: var(--light-black);
	animation: preloading-span 1s;
	animation-fill-mode: both;
	opacity: 0;
}

.preloading-title span:nth-of-type(1) {
	animation-delay: 0s;
}

.preloading-title span:nth-of-type(2) {
	animation-delay: 0.5s;
}

.preloading-title span:nth-of-type(3) {
	animation-delay: 1.0s;
}

@keyframes preloading-span {
	0% {
		transform: translateX(-10px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

/* #### Signin html #### */
.signin {
	height: 750px;
}

.signin-inner {
	width: inherit;
	height: inherit;
	position: relative;
}

.signin-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.signin-form {
	padding: 25px 0;
	background-color: #fff;
	width: 335px;
	border-radius: 13px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
}

.signin-title {
	padding: 20px 0;
}

.signin-title h2 {
	font-family: var(--primary-en);
	font-size: 23px;
	margin-bottom: 15px;
}

.signin-title span {
	font-family: var(--secondary-kr);
}

.signin-form form input {
	border: 1px solid var(--gloudy);
	padding: 10px;
	width: 90%;
	border-radius: 5px;
	margin: 5px 0
}

.signin-form form input:focus {
	border: 1px solid var(--light-brown);
}

.btn-login {
	background-color: var(--light-beige);
	margin: 0px auto;
	margin-top: 20px;
}

.find-idpw {
	margin: 10px 0 20px 0;
}

.find-idpw a {
	text-decoration: underline;
	color: var(--light-black);
}

.simple-login span {
	font-size: 13px;
	color: var(--light-gray);
}

.simple-login .sns {
	margin: 15px 0;
}

.simple-login .sns a {
	margin: 4px;
}

.signup-suggest {
	margin-top: 10px;
}

.signup-suggest a {
	text-decoration: underline;
}


/* #### Signup html #### */
.signup {
	height: 750px;
}

.signup-inner {
	width: inherit;
	height: inherit;
}

.signup-content {
	padding: 20px;
}

.signup-field {
	margin-bottom: 18px;
}

.signup-field>em {
	color: var(--crimson);
}

.signup-field input {
	width: 100%;
	display: block;
	padding: 10px;
	border: none;
	border-bottom: 1px solid var(--dark-gray);
}

.id-field {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.id-field input {
	flex: 4;
}

.btn-double-check {
	flex: 1;
	background-color: transparent;
	border: 1px solid var(--dark-gray);
}

.telnumber-field {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.telnumber-field>* {
	flex: 1;
}

.tel-input {
	position: relative;
}

.tel-input:before {
	content: '\F63B';
	font-family: bootstrap-icons;
	position: absolute;
	left: -27px;
	top: 10px;
	color: var(--dark-gray);

}

.birth-field {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.birth-field>* {
	flex: 1;
}

.btn-sign-up {
	background-color: var(--light-beige);
	margin-top: 20px;
}

/* #### Category html #### */
.category {
	height: 750px;
}

.category-inner {
	width: inherit;
	height: inherit;
	position: relative;
}

.category-menu {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.category-menu .menu {
	border: 1px solid var(--gloudy);
	color: var(--dark-brown);
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.category-menu .menu a {
	font-family: var(--primary-en);
}

.category-menu .menu a.moodmade:after {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	transform: translate(3px, -2px);
	background: url(/images/moodmade_category.png) no-repeat center;
	background-size: cover;
}

.category-menu .menu .bi {
	font-size: 18px;
}

.exchange-return-alert {
	position: absolute;
	bottom: 70px;
	padding: 10px;
}

.exchange-return-alert b {
	display: block;
	font-weight: 500;
	font-size: 12px;
	color: var(--light-black);
}

.exchange-return-alert span {
	font-size: 12px;
	font-weight: 400;
	color: var(--dark-gray);
}

/* #### Search html #### */
.search {
	height: 750px;
}

.search-inner {
	width: inherit;
	height: inherit;
}

.search-content {
	padding: 20px;
	overflow-x: hidden;
}

.search-input input {
	width: 100%;
	display: block;
	padding: 10px;
	border-radius: 28px;
	border: none;
	background-color: var(--gloudy);
	background: var(--gloudy) url(/images/search.svg) no-repeat center left 15px;
	padding-left: 40px;
}

.search-input input::placeholder {
	color: var(--dark-black);
}

/* 최근검색어 */
.recent-search {
	margin-top: 20px;
}

.recent-words {
	width: 100%;
	padding: 15px 0;
	overflow-x: auto;
	white-space: nowrap;
}

.recent-words::-webkit-scrollbar {
	display: none;
}

.recent-words a {
	border: 1px solid var(--dark-gray);
	padding: 2px 12px;
	border-radius: 30px;
	margin-right: 3px;
	display: inline-block;
}

/* 오늘 뭐입지? */
.today-suggestion h3 {
	font-weight: 500;
	font-size: 16px;
}

.today-words {
	width: 100%;
	padding: 15px 0;
	overflow-x: auto;
	white-space: nowrap;
}

.today-words::-webkit-scrollbar {
	display: none;
}

.today-words a {
	border: none;
	background: var(--light-beige);
	padding: 2px 12px;
	border-radius: 30px;
	margin-right: 3px;
	display: inline-block;
}

/* 최근 본 상품 */
.recent-view-items {
	width: 395px;
	margin-top: 15px;
}

/* 인기 검색어 */
.popular-search-words {
	margin-top: 20px;
}

.popular-words {
	margin-top: 10px;
	counter-reset: rank 0;
	line-height: 2em;
	font-size: 15px;
	color: var(--light-black);
}

.popular-words li:before {
	counter-increment: rank;
	content: counter(rank);
	margin-right: 10px;
	font-weight: 500;
}

.popular-words li em.up:after,
.popular-words li em.down:after,
.popular-words li em.none:after {
	float: right;
	vertical-align: middle;
	font-family: bootstrap-icons;
	font-style: normal;
}

.popular-words li em.up:after {
	content: '\F235';
	color: var(--crimson);
}

.popular-words li em.down:after {
	content: '\F229';
	color: #1877F2;
}

.popular-words li em.none:after {
	content: '\F2EA';
	color: var(--light-black);
}

/* Product Like html */
.product-like {
	height: 750px;
}

.product-like-inner {
	width: inherit;
	height: inherit;
}

.product-like-content {
	padding: 20px;
	overflow-x: hidden;
}

.wished-product .header-title {
	padding: 20px 0;
}

.wished-product-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.wished-product-list .product-item .thum {
	width: 105px;
	height: 136px;
}

.wished-product-list .product-item .desc {
	width: 105px;
}

/* #### Notification html #### */
.notification {
	height: 750px;
}

.notification-inner {
	width: inherit;
	height: inherit;
}

.notification-item {
	width: 375px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	padding: 15px;
	border-bottom: 1px solid var(--gloudy);
}

.notification-item.not-read {
	background-color: var(--apricot);
}

.notification-item .noti {
	flex: 5;
}

.notification-item .thum {
	width: 60px;
	height: 60px;
	flex: 1;
}

.notification-item .thum img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.noti span {
	color: var(--dark-gray);
	font-weight: 500;
	position: relative;
	margin-left: 5px;
}

.noti span.delivery:before,
.noti span.survey:before {
	content: '';
	display: inline-block;
	width: 17px;
	height: 17px;
	transform: translate(-5px, 3px);
}

.noti span.delivery:before {
	background: url(/images/delivery-truck.png) no-repeat center;
	background-size: 17px;
}

.noti span.survey:before {
	background: url(/images/chat.png) no-repeat center;
	background-size: 17px;
}

.noti b {
	color: var(--dark-black);
	font-weight: 500;
	margin-top: 4px;
	display: block;
}

.noti p {
	font-weight: normal;
	margin: 0;
	font-size: 13px;
}

/* #### Cart html #### */
.cart {
	height: 750px;
}

.cart-inner {
	width: inherit;
	height: inherit;
}

.add-cart .header-title {
	padding: 0 20px;
	padding-top: 20px;

}

.cart-items {
	padding: 10px 0;
}

.cart-item {
	border-bottom: 1px solid var(--gloudy);
	padding: 15px 0;
}

.cart-items .item {
	display: flex;
	gap: 10px;
	align-items: flex-start;
	padding: 0 15px;

}

.cart-items .item input[type=checkbox] {
	display: none;
}

.cart-items .item label {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: relative;
}

.cart-items .item label>em:before {
	content: '\F26D';
	font-family: bootstrap-icons;
	color: var(--dark-gray);
	font-style: normal;
}

.cart-items .item label input[type=checkbox]:checked+em:before {
	content: '\F26C';
	color: var(--light-brown);
}

.cart-items .item .thum {
	width: 83px;
	height: 90px;
}

.cart-items .item .thum img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.cart-items .item .desc>* {
	margin-bottom: 3px;
}

.cart-items .item .desc h3 {
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.cart-items .item .desc span {
	color: var(--dark-gray);
	display: inline-block;
}

.cart-items .item .desc>div {
	display: flex;
	justify-content: space-between;
}

.cart-items .item .desc>div b {
	font-size: 16px;
}

.cart-items .custom-select {
	border: 1px solid var(--dark-gray);
	height: 25px;
}

.cart-items .custom-select:after {
	top: 2px;
}

.expect-payment {
	padding: 20px;
}

.expect-payment .payment {
	display: flex;
	justify-content: space-between;
	margin: 8px 0;
}

.expect-payment .payment:last-child b {
	font-size: 16px;
}

.btn-payment {
	color: #fff;
	background-color: var(--light-brown);
	margin-bottom: 20px;
	font-size: 16px;
}

/* #### Mypage html #### */
.mypage {
	height: 750px;
}

.mypage-inner {
	width: inherit;
	height: inherit;
}

.mypage-content {
	overflow-x: hidden;
}

.profile-outer {
	border-bottom: 1px solid var(--gloudy);
}

.profile {
	display: flex;
	gap: 20px;
	padding: 20px;
}

.profile img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	flex: 1;
}

.profile-grade {
	flex: 5;
}

.grade-zone {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.my-grade b {
	color: var(--crimson);
	font-size: 18px;
	font-weight: 500;
	vertical-align: middle;
	margin-right: 5px;
}

.my-grade span {
	font-weight: 500;
	font-size: 14px;
	color: var(--light-gray);
	position: relative;
	vertical-align: middle;
}

.my-grade span:after {
	content: '\F285';
	font-family: bootstrap-icons;
	position: absolute;
	top: 1px;
}

.btn-setting {
	font-size: 18px;
	color: var(--light-gray);
}

.profile-grade h3 {
	font-size: 18px;
	font-weight: 500;
	margin: 10px 0;
}

.point-coupon {
	display: flex;
	gap: 10px;
	margin-top: 15px;
}

.point-coupon .point,
.point-coupon .coupon {
	background-color: var(--gloudy);
	border-radius: 10px;
	padding: 2px 13px;
	display: flex;
	gap: 15px;
	font-size: 12px;
}

.mypage-content .recent-view {
	padding: 20px;
}

.mypage-content .banner {
	margin: 8px 0;
}

.mypage-menu a {
	display: block;
	height: 50px;
	border-bottom: 1px solid var(--gloudy);
	display: flex;
	align-items: center;
	font-size: 16px;
	padding: 0 15px;
}

.mypage-menu a:after {
	transform: rotate(-90deg);
	right: 15px;
}

.mypage-menu a .bi {
	width: 25px;
	text-align: center;
}

.mypage-menu a:last-child {
	border: none;
}

.mypage-menu a:nth-child(5) .bi {
	font-size: 19px;
}

.mypage-menu a span {
	font-weight: 400;
	margin-left: 10px;
}

.mypage-menu a:after {
	content: '\F282';
	font-family: bootstrap-icons;
	position: absolute;
	right: 10px;
	background-color: var(--light-beige);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	font-size: 13px;
	transition: 0.35s;
}

.btn-signout {
	background-color: var(--light-brown);
	color: #fff;
	font-size: 16px;
	margin: 15px auto;
}